---
import Product from '../components/product';
import 'font-awesome/css/font-awesome.css';

---

<html>
  <head>
    <title>Shopping Cart</title>
  </head>
  <body>
    <Product client:load/>
  </body>
</html>
